parameters:
    fileLog: dades_scheduled_task_bundle.log

services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false

    Dades\ScheduledTaskBundle\:
        resource: '../../*'
        exclude: '../../{Entity,Repository,Tests}'

    # Dades\ScheduledTaskBundle\Controller\:
    #     resource: '../../Controller'
    #     public: true
    #     tags: ['controller.service_arguments']

    Dades\ScheduledTaskBundle\Command\RunCronCommand:
        $projectdir: '%kernel.project_dir%'
        $fileLog: '%fileLog%'

    Dades\ScheduledTaskBundle\Service\Logger:
        $projectdir: '%kernel.project_dir%'
        $fileLog: '%fileLog%'
